<div class="banner-index-page" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1621368286550-f54551f39b91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
    <div class="banner-info">
     <h1>Hi <%= @user.first_name %></h1>
      <h2>see all your bookings here!</h2>
    </div>
</div>

<% if flash[:info] %>
  <div class="info">
    <%= flash[:info] %>
  </div>
<% end %>

<div class="bookings-container mt-4 ">
  <h3>See your bookings here:</h3>
  <% if @bookings.present? %>
    <div class ="bookings-accordion-container">
      <% @bookings.each do |booking| %>
        <div class="booking-card">
          <%= render partial: "shared/accordion", locals: { booking: booking } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You don't have any bookings yet!</p>
    <p>Book a musician now.</p>
    <p><%= link_to "all musicians", musicians_path, class: "btn btn-first" %></p>
  <% end %>
</div>


<% if @user.musicians.present? %>
<div class="bookings-container mt-4 ">
  <h3>See your upcoming gigs:</h3>
    <div class ="bookings-accordion-container">
      <% @musicians.each do |musician| %>
        <% musician.packages.each do |package| %>
          <% package.bookings.each do |booking| %>
            <%# <% if booking.present? %>
              <div class="booking-card">
                <%= render partial: "shared/accordion_musician_gigs", locals: { musician: musician, package: package, booking: booking } %>
              </div>
            <%# <% else %>
              <%# <p>Hi</p> %>
            <%# <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
<% end %>
