<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 form-devise">
    <h1>Create your profile Page! 🎨 </h1>
    <h4>This inforformation will be shown to potential customers, let them know why you are the perfect act for their event 🎻 🥳 </h4>
      <%= simple_form_for [@musician] do |f| %>
        <%= f.input :first_name, label: "First name"%>
        <%= f.input :last_name, label: "Last name" %>
        <%= f.input :nickname, label: "Artist name" %>
        <%= f.input :location, as: :select, collection: ["Berlin", "Hanover", "Hamburg", "Cologne", "Stuttgart"], label: "Location"%>
        <%= f.input :description, label: "Tell us about yourself..."%>
        <%# <%= f.input :type_of_event, label: "What kind of events do you like to play at?"%>
        <%= f.input :type_of_musician, as: :select, collection: ["Vocal", "Drums", "Guitar", "Piano", "Violine", "Cello"], label: "What instrument is your profession", class: "dropdown"%>
        <%= f.input :youtube_link, label: "youtube link"%>
        <%= f.input :instagram_link, label: "instagram link"%>
        <%= f.input :spotify_link, label: "spotify link"%>
        <%= f.input :soundcloud_link, label: "soundcloud link"%>
        <%= f.input :photo, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
        <%= f.submit "Add your profile", class: "btn btn-first" %>
      <% end %>
    </div>
  </div>
</div>
