<div data-controller="booking">
  <%= render "shared/show_card", musician: @musician %>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Book your MeloDeal with <%= @musician.first_name %> </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for @booking do |f| %>
              <%= f.hidden_field :package_id, data: {booking_target: "input"}%>
              <p>Date: <%= f.date_field :date, class: "input-field" %></p>
              <p> Time: <%= f.time_field :time, class: "input-field" %></p>
              <div class="modal-footer">
                <p> <%= f.submit class: "btn-first"%></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

<% if @musician.packages.any? && current_user.bookings.any? { |booking| @musician.packages.include?(Package.find(booking.package_id)) && booking.date < Date.today } %>
  <%= render "shared/review_form", musician: @musician, review: @review %>
<% end %>
