 <div class="accordion open" id="accordionExample">
  <div class="accordion-item">
    <% if booking.status == "pending" %>
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%=booking.id%>" aria-expanded="false" aria-controls="collapse">
          Your MeloDeal for <%= booking.date.strftime("%A, %d %b %Y") %> is
          <div class="pending">
            <%= booking.status %>
          </div>
        </button>
      </h2>
    <% elsif booking.status == "accepted" %>
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%=booking.id%>" aria-expanded="false" aria-controls="collapse">
          Your MeloDeal for <%= booking.date.strftime("%A, %d %b %Y") %> is
            <div class="accepted">
              <%= booking.status %>
            </div>
        </button>
      </h2>
    <% else %>
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%=booking.id%>" aria-expanded="false" aria-controls="collapse">
          Your MeloDeal for <%= booking.date.strftime("%A, %d %b %Y") %> is
          <div class="declined">
            <%= booking.status %>
          </div>
        </button>
      </h2>
    <% end %>
      <div id="collapse_<%=booking.id%>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>You booked the <%= booking.package.description %> </strong>
          <%= link_to "Chat", show_chat_path(booking) %>
        </div>
      </div>
  </div>
</div>
