<%= link_to musician, class: "main-card" do %>
  <div class="card-image-container">
    <div class="card-img">
      <%= image_tag(musician.photo) %>
      <div class="musician-tag">
        <p><%= musician.type_of_musician %></p>
      </div>
    </div>
  </div>
  <div class="card-content">
    <h3><%=musician.first_name%></h3>
    <div class="location"><p>📍<%=musician.location%></p>
    </div>
    <button class="btn btn-second-orange mb-4">Following</button>
      <p class="description"><%= musician.description.slice(0..96) + "..." %></p>
  </div>
<% end %>
