<%= link_to musician, class: "main-card" do %>
  <div class="card-image-container">
    <div class="card-img">
      <%= image_tag(musician.photo) %>
      <div class="musician-tag">
        <p><%= musician.type_of_musician %></p>
      </div>
    </div>
  </div>
  <p><%= musician.average_rating %></p>
  <div class="card-contend">
    <h3><%=musician.first_name%></h3>
    <p><%=musician.first_name %> <%=musician.last_name %>is one of our favs!. Also known as <%=musician.nickname %></p>
  </div>
<% end %>
