<%= link_to musician, class: "main-card" do %>
  <div class="card-image-container">
    <div class="card-img">
      <%= image_tag(musician.photo) %>
    </div>
  </div>

  <div class="card-contend">
    <h3><%=musician.first_name%></h3>
      <div class="instrument-tag">
        <%=musician.type_of_musician%>
      </div>
    <p><%=musician.first_name %> <%=musician.last_name %>is one of our favs!. Also known as <%=musician.nickname %></p>
  </div>
<% end %>
