<div class="container">
  <div class="row justify-content-center d-grid mt-4">
    <div class="col-12">
      <div class="show-card">
        <div class="cover-photo">
          <%= image_tag(@musician.photo, class: "profile")%>
        </div>
        <h3>
          <b><%= @musician.first_name %> <%= @musician.last_name  %></b>
        </h3>
        <div class="flex-container">
          <div>
            <p class="about"><%= @musician.type_of_musician %> <br> &#128205; <%= @musician.location %></p>
            <button class="btn btn-second-orange mb-4">Following</button>
          </div>
          <div class="flex-packages">
            <% @musician.packages.each do |package| %>
              <div class="package-card">
                <small><%= package.description %></small>
                <hr>
                <p>Price: <%= package.price %></p>
                <p>Hours: <%= package.hours %></p>
                <%= link_to "Book!", new_package_booking_path(package), class: "btn btn-first" %>
              </div>
              </div>
                <% end %>
              <div class="reviews_show">
              <div>
              <% @musician.reviews.each do |review| %>
            <%= review.content %>
            <%= review.rating %>
           <% end %>
           </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
